#background {
    background: url(../assets/provo.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo {
    display: block;
    background: rgba(0,0,0,0.4);
}

#home-link {
    padding: 15px;
    text-decoration: none;
    box-shadow: 1px 1px black;
    color: grey;
    transition: 0.3s;
    background-color: white;
    border-radius: 15px;
}

#home-link:hover {
    background-color: darkgray;
    color: white;
}