html {
  background-color: rgb(18,22,33);
  color: white;
}

#main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 30px;
  position: sticky;
  top: 0;
  background-color: rgba(18,22,33);
}

.menu-item {
  padding: 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.menu-item:hover {
  background-color: lightgray;
  color: black;
}
