#main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 30px;
  position: sticky;
}

.menu-item {
  padding: 15px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.menu-item:hover {
  background-color: lightgray;
}
