#container {
    width: 50%;
    margin: auto;
    text-align: center;
}

#main-img {
    max-width: 100%;
    border-radius: 100%;
}

#intro {
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.2);
}

.about-p {
    font-size: large;
    letter-spacing: 2px;
    text-shadow: 1px 1px black;
}